#navbar{
    background-color: #303871;
    color: white;
}
.container-menu{
    width: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.container-menu button{
    width: fit-content;
}