#navbar {
  background-color: #303871;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}
.container-menu {
  width: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.container-menu button {
  width: fit-content;
}
